﻿@model Sadoku.Models.SadokuBoardViewModel


@using (Html.BeginForm()) 
{

    @Html.HiddenFor(model => model.IniBoard)
    @Html.HiddenFor(model => model.FinBoard)
    for (int i = 0; i < 9; i++)
    {
        <div class="row">
        @for (int j = 0; j < 9; j++)
        {
            if (((j) % 3) == 0 && ((i + 1) % 3) == 0)
            {
                <div class="thumbnail numberInSquare" style="margin-bottom: 0px; margin-left: 9px; margin-bottom: 7px">
                    <img src="@("/Content/images/" + @Model.BoardArr[i][j] + ".jpg")" alt="@Model.BoardArr[i][j]" />
                </div>
            }
            else if ((j) % 3 == 0)
            {
                <div class="thumbnail numberInSquare" style="margin-bottom: 0px; margin-left: 9px">
                    <img src="@("/Content/images/" + @Model.BoardArr[i][j] + ".jpg")" alt="@Model.BoardArr[i][j]" />
                </div>
            }
            else
            {
                <div class="thumbnail numberInSquare" style="margin-bottom: 0px">
                    <img src="@("/Content/images/" + @Model.BoardArr[i][j] + ".jpg")" alt="@Model.BoardArr[i][j]" />
                </div>

            }
        }
        </div>
    }

    <p>
        <input type="submit" value="Resolve"/>
    </p>
}


            @*if ( (i + 1) % 3 == 0)
            {
<div class="thumbnail emptySquare" style="margin-bottom: 0px; margin-right: 1px">
    }
    else
    {*@












    @*<div class="row">
            <div class="thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/0.jpg" alt="2" />
            </div>
            <div class="thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/1.jpg" alt="1" />
            </div>
            <div class="thumbnail emptySquare" style="margin-bottom: 0px; margin-right: 1px">
                <img src="~/Content/images/2.jpg" alt="1" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/3.jpg" alt="2" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/4.jpg" alt="1" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px; margin-right: 1px">
                <img src="~/Content/images/5.jpg" alt="1" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/0.jpg" alt="2" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/1.jpg" alt="1" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/0.jpg" alt="1" />
            </div>

        </div>

        <div class="row">
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/1.jpg" alt="2" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/2.jpg" alt="1" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/3.jpg" alt="1" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/4.jpg" alt="2" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/5.jpg" alt="1" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/0.jpg" alt="1" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/0.jpg" alt="2" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/1.jpg" alt="1" />
            </div>
            <div class=" thumbnail emptySquare" style="margin-bottom: 0px">
                <img src="~/Content/images/0.jpg" alt="1" />
            </div>
        </div>

        <div class="row">
            <div class="  numberInSquuare">
            </div>
            <div class=" numberInSquuare">
            </div>
            <div class=" numberInSquuare">
            </div>
            <div class=" numberInSquuare">
            </div>
            <div class=" numberInSquuare">
            </div>
            <div class=" numberInSquuare">
            </div>
            <div class=" numberInSquuare">
            </div>
            <div class=" numberInSquuare">
            </div>
            <div class=" numberInSquuare">
            </div>

        </div>*@




    @*@{
            ViewBag.Title = "Details";
        }

        <h2>Details</h2>

        <fieldset>
            <legend>SadokuBoard</legend>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Id)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Id)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.IniBoard)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.IniBoard)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.FinBoard)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FinBoard)
            </div>
        </fieldset>
        <p>
            @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
